{{ tick() }}
<section>
    <p>{{ person.firstname }} {{ person.lastname }} {{person.email}} {{person.phone}}</p>
</section>
<section>
    <pwa-card *ngIf="person" [person]="person" (personDelete)="delete(person.id)">
    </pwa-card>
    <pwa-card *ngIf="person" [person]="person" (personDelete)="delete(person.id)">
    </pwa-card>
</section>
<section>
    <pwa-card *ngIf="person" [person]="person" (personDelete)="delete(person.id)">
    </pwa-card>
    <pwa-card *ngIf="person" [person]="person" (personDelete)="delete(person.id)">
    </pwa-card>
</section>
|
<button data-id="button-1" mat-fab (click)="fetchRandom()"><i class="material-icons">autorenew</i></button>
